.container{

    padding: 20px;
    
    }
    
    .col-sm-4{
    
    border: 10px solid grey;
    
    }
    
    .col-sm-8{
    
    margin-bottom: 10px;
    
    
    }
    
    
    
    .col-12{
    
        margin-top: 10px;
    
    }
    
    .col{
    
    padding: 10px;
    
    }